@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

html,
body,
.main_container {
    @apply m-0 w-[100%] h-[100%] p-0 bg-[#1b1b1b]
}

* {
    color: white;
}

.cellphone_bg {
    @apply w-[70%] h-[85vh] max-[610px]:h-[75svh] max-w-[500px] min-w-[300px] top-[100%] left-[50%] absolute flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -100%);
    border-radius: 15px 15px 0 0;
    border: 13px solid black;
    border-bottom: none;
    background-color: #FCFCF7;
    background-image: radial-gradient(black 10%, transparent 11%);
    background-size: 20px 20px;
    box-shadow: 0 0 2px 7px rgba(0,0,0,.4);
}

.cellphone_text {
    @apply w-full text-[220px] font-[900] ml-[-20px] max-[610px]:text-[160px] absolute;
    text-align: center;
    color: #ed2367;
}
.cellphone_text u{
    color: #ed2367;
}

.orbitron {
    font-family: 'Orbitron';
}
.bebas_neue{
    font-family: 'Bebas Neue';
}

.cellphone_notch {
    @apply w-[65%] h-[35px] max-[610px]:h-[25px] bg-[black] top-0 absolute;
    border-radius: 0 0 200px 200px;
}

.cellphone_instagram_frame {
    @apply w-[90%] h-[60vh] max-[610px]:h-[50svh] rounded-[40px] border-6 absolute;
    background:linear-gradient(185deg,#fffeec,#fffeec,#fffeec,#ffebda,#f3d3c6,#b79c93);
}

.cellphone_instragram_pfp{
    @apply rounded-full w-[45px] h-[45px] mt-[5px] ml-[20px] absolute;
}

.cellphone_instragram_frame_top{
    @apply bg-[#afb9c2] w-[101%] h-[8vh] block mt-[-5px] ml-[-1.5px] z-10;
    border-radius: 42px 42px 0 0;
}

.cellphone_instragram_frame_bottom{
   @apply bg-[#aed6d5] w-[101%] h-[8vh] flex items-center p-[10px] mt-[-5px] ml-[-1.5px] top-[102%] transform-[translateY(-100%)] z-10 absolute;
   border-radius: 0 0 42px 42px;
}

.cellphone_instragram_frame_bottom img{
 @apply w-[35px] h-[35px] ml-[10px];
}   

.character_title{
    @apply w-full h-[100vh] text-[500px] font-[900] overflow-y-hidden ;
    letter-spacing: 60px;
}