@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

html,
body,
.main_container {
    @apply m-0 w-[100%] h-[100%] p-0 bg-transparent;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
    touch-action: cross-slide-y;
}

* {
    color: white;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

::-webkit-scrollbar-thumb-active {
    background: #a6a6a6;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

.orbitron {
    font-family: 'Orbitron';
}

.bebas_neue {
    font-family: 'Bebas Neue';
}

.josefin {
    font-family: 'Josefin Sans';
}

/*main_miku_section*/

.main_miku_section {
    @apply w-full h-[100vh] bg-[#009EDF] relative;
    scroll-snap-align: center;
}

.loading_container {
    @apply m-0 w-[100%] h-[100%] p-0 bg-[#009EDF] flex items-center justify-center;
}

.loading {
    @apply w-[60px] h-[60px] block bg-transparent rounded-full z-0 border-[10px];
    animation: loading_animation 1s linear infinite;
    border-color: white gray gray gray;
}

@keyframes loading_animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navigation_menu,
.about_miku_section_navigation_menu,
.contact_miku_section_navigation_menu {
    @apply h-[60px] z-10 absolute text-white inline-flex items-center p-2.5 gap-8;
    border-radius: 0 0 5px 0;
    top: 0;
}

.about_miku_section_navigation_menu,
.contact_miku_section_navigation_menu {
    @apply gap-3 inline-flex top-[100%] h-[100px] transform-[translateY(-100%)];
    backdrop-filter: blur(20px);
    border-radius: 20px
}


.navigation_menu a {
    @apply font-[700] cursor-pointer text-xl;
    font-family: 'Josefin Sans';
}

.navigation_menu a:hover {
    border-bottom: 3px solid white;
    margin-bottom: -3px;
}

.about_miku_section_navigation_menu a img {
    @apply w-[50px] h-[50px] p-[8px] rounded-full hover:bg-[#a6c1c6] transition-colors cursor-pointer;
    border: 3px solid #a6c1c6;
}

.contact_miku_section_navigation_menu a img {
    @apply w-[50px] h-[50px] p-[8px] rounded-full hover:bg-[#a6c1c6] transition-colors cursor-pointer;
    border: 3px solid #a6c1c6;
}

.cellphone_bg {
    @apply w-[70%] h-[85vh] max-w-[500px] min-w-[300px] top-[100%] left-[50%] absolute flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -100%);
    border-radius: 15px 15px 0 0;
    border: 13px solid black;
    border-bottom: none;
    background-color: #FCFCF7;
    box-shadow: 0 0 2px 7px rgba(0, 0, 0, .4);
}

.cellphone_miku_sitting {
    @apply relative w-[150px] h-auto;
}

.cellphone_text {
    @apply w-full text-[220px] font-[900] ml-[-20px] absolute;
    text-align: center;
    color: #ed2367;
}

.cellphone_text u {
    color: #ed2367;
}

.cellphone_notch {
    @apply w-[65%] h-[35px] bg-[black] top-0 absolute;
    border-radius: 0 0 200px 200px;
}


.character_title {
    @apply absolute h-[100vh] text-[700px] font-[900] pt-[130px] overflow-hidden flex scroll-smooth;
    white-space: nowrap;
    letter-spacing: 20px;
    box-sizing: border-box;
    align-items: center;
    animation: carousel 30s linear infinite;
}

@keyframes carousel {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-3350px);
    }
}

.continue_button {
    @apply text-white font-extrabold bg-[#ed2367] w-[300px] h-[60px] rounded-[5px] cursor-pointer p-2 absolute z-10 flex items-center justify-center;
    transition: box-shadow .3s, transform .3s;
    box-shadow: 0 0 10px #FF00A0;
    top: 90%;
    transform: translateY(-90%);
}

.continue_button:hover {
    box-shadow: 0 0 15px 5px #FF00A0;
    transform: translateY(-90%) scale(1.05);
}

/*about_miku_section*/

.about_miku_section {
    @apply w-full h-[100vh] bg-[#009EDF] relative;
    scroll-snap-align: center;
}

.about_miku_section_title,
.contact_miku_section_title {
    @apply text-white text-[calc(100vw*.085)] pl-[10px] font-bold top-0 p-0 absolute;
    white-space: nowrap;
}

.about_miku_section_title {
    @apply text-white text-[calc(100vw*.085)] pl-[10px] font-bold top-0 p-0 absolute mt-[-10px];
    white-space: nowrap;
}

.contact_miku_section_title {
    @apply text-[80px];
}

.about_miku_section_miku_image {
    @apply h-[40vh] left-[100%] top-[80%] absolute;
    transform: translate(-100%, -80%);
    filter: drop-shadow(7px 70px 3px rgba(0, 0, 0, .3));
}

.about_miku_section_navigation_menu,
.contact_miku_section_navigation_menu {
    @apply gap-2 inline-flex top-[99%] left-[50%] h-[60px];
    transform: translate(-50%, -99%);
}

.contact_miku_section_navigation_menu {
    @apply gap-2 inline-flex top-[86%] left-[50%] h-[60px];
    transform: translate(-50%, -86%);
}

.main_miku_info_container {
    @apply pl-[5px] pr-[5px] absolute block gap-0 overflow-y-visible;
}

.miku_info_containers {
    @apply w-full h-[29%] bg-white rounded-2xl mb-[15px] p-[4px];
}

.miku_image_slide {
    @apply w-[17%] h-full object-cover;
    object-position: top;
    border-radius: 16px;
}

.miku_containers_titles {
    @apply top-[-100%] text-2xl relative left-[20%] w-[70%];
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 3px;
}

.miku_containers_descriptions {
    @apply top-[-107%] text-[13.5px] relative left-[20%] ml-[-5px] w-[70%] p-[5px] text-justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
}

.about_miku_section_maleta {
    @apply right-0 left-[100%] relative top-[30%];
    transform: translate(-50%, -30%);
    filter: drop-shadow(7px 25px 1px rgba(0, 0, 0, .3));
}


/*contact_miku_section*/

.contact_miku_section {
    @apply w-full h-[100vh] bg-[#009EDF] relative flex items-center justify-center;
    scroll-snap-align: center;
}

.contact_miku_section_image {
    @apply p-[20px] rounded-[50px] object-cover mt-[-40px] max-h-[65vh];
}

.footer {
    @apply w-full h-[130px] absolute top-[100%] text-[12px] transform-[translateY(-100%)] p-[15px] text-justify flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
}



/*Movil design*/
@media (max-width:576px) {
    .main_miku_section {
        @apply h-[100svh];
    }

    .cellphone_bg {
        @apply h-[70svh];
    }

    .cellphone_text {
        @apply w-full text-[130px] font-[900] ml-[0] absolute;
    }

    .continue_button {
        @apply text-white font-extrabold bg-[#ed2367] w-[200px] h-[60px] rounded-[5px] cursor-pointer p-2 absolute z-10;
    }

    .character_title {
        letter-spacing: 5px;
        @apply text-[100px] pt-[20px] text-[#ccecf9];
        align-items: start;
    }

    @keyframes carousel {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-500px);
        }
    }

    .navigation_menu {
        @apply w-full;
        align-items: center;
        justify-content: center;
    }

    /*about_miku_section*/
    .about_miku_section {
        @apply h-[100svh];
    }

    .about_miku_section_miku_image {
        @apply h-[60vh] left-[60%] top-[101%] absolute;
        transform: translate(-60%, -101%);
    }

    .about_miku_section_title,
    .contact_miku_section_title {
        @apply text-white text-[42px] w-full;
        letter-spacing: 1.5px;
        text-align: center;
    }


    .about_miku_section_navigation_menu,
    .contact_miku_section_navigation_menu {
        @apply gap-2 inline-flex top-[99%] left-[50%] h-[60px];
        transform: translate(-50%, -99%);
    }

    .contact_miku_section_navigation_menu {
        @apply gap-2 inline-flex top-[77%] left-[50%] h-[60px];
        transform: translate(-50%, -77%);
    }

    .about_miku_section_miku_image {
        @apply hidden;

    }

    .main_miku_info_container {
        @apply pl-[5px] pr-[5px] absolute block gap-0;
    }

    .miku_info_containers {
        @apply w-full h-[26%] bg-white rounded-2xl mb-[15px] p-[4px];
    }

    .miku_image_slide {
        @apply w-[28%] h-full object-cover;
        border-radius: 16px;
    }

    .miku_containers_titles {
        @apply top-[-100%] text-2xl relative left-[30%] w-[70%];
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 3px;
    }

    .miku_containers_descriptions {
        @apply top-[-107%] text-[13.5px] relative left-[30%] w-[70%] p-[5px] text-justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .about_miku_section_maleta {
        @apply hidden;
    }

    /*contact_miku_section*/
    .contact_miku_section {
        @apply w-full h-[100svh] bg-[#009EDF] relative flex items-center justify-center;
        scroll-snap-align: center;
    }

    .contact_miku_section_image {
        @apply p-[20px] rounded-[50px] object-cover mt-[-140px] max-h-[65vh];
    }

}

/*Tablet Design*/
@media (min-width:576px) {

    /*contact_miku_section*/
    .footer {
        @apply w-full h-[80px] absolute top-[100%] text-[12px] transform-[translateY(-100%)] p-[15px] text-justify;
        background-color: rgba(0, 0, 0, .8);
    }
}

@media (max-width:960px) {

    /*about_miku_section*/
    .about_miku_section_maleta {
        transform: translate(-50%, -30%) scale(0.8);
    }

    .about_miku_section_miku_image {
        @apply h-[40vh] left-[100%] top-[60%] absolute;
        transform: translate(-100%, -60%) scale(0.8);
    }

    .about_miku_section_maleta {
        transform: translate(-50%, -30%) scale(0.8);
    }

    .about_miku_section_miku_image {
        @apply h-[40vh] left-[100%] top-[60%] absolute;
        transform: translate(-100%, -60%) scale(0.8);
    }
}

@media (max-width:960px) and (max-height:630px) {

    /*about_miku_section*/
    .miku_info_containers {
        @apply w-full h-[29.5%] bg-white rounded-2xl mb-[15px] p-[4px];
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }

    .about_miku_section_navigation_menu a img {
        @apply w-[40px] h-[40px] p-[8px] rounded-full hover:bg-[#a6c1c6] transition-colors cursor-pointer;
        border: 3px solid #a6c1c6;
    }

    /*All sections*/
    .main_miku_section,
    .about_miku_section,
    .contact_miku_section {
        height: 630px;
        overflow-y: visible;
        position: relative;
        scroll-snap-align: none;
    }

    .contact_miku_section_image {
        @apply p-[20px] rounded-[50px] object-cover mt-[-40px] max-h-[calc(640px*.65)];
    }

    .about_miku_section_miku_image {
        @apply h-[calc(630px*.40)];
    }

    .cellphone_bg {
        @apply h-[calc(630px*.63)];
    }

    .character_title {
        @apply  h-[630px] ;
    }


}

@media (min-width: 768px) and (min-height: 1000px) {

    /*about_miku_section*/
    .miku_containers_titles {
        @apply top-[-100%] text-4xl relative left-[20%] w-[70%];

    }

    .miku_containers_descriptions {
        @apply top-[-107%] text-xl relative left-[20%] pt-[15px] w-[70%] p-[5px] text-justify;
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }

}

/*PC Design*/
@media (min-width:1200px) {

    /*contact_miku_section*/
    .footer {
        @apply w-full h-[60px] absolute top-[100%] text-[12px] transform-[translateY(-100%)] p-[15px] text-justify;
        background-color: rgba(0, 0, 0, .8);
    }
}